.commentBox{
    width: 100%;
    height: 10em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    resize: none;
    font-family:'forma-djr-text';
    text-overflow: wrapping;
    background-color: #554D74;
    color: #d3d9e9;
}


#commentPromptTitle{
    color:#554D74;
    font-size:25px;
}