.navBar{
    padding-top:10px;
    height:70px;
    background-color: #5680E9;
    border-bottom: 1px solid #5AB9EA;
}
.navBarItems{
    padding-left: 10%;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;

}
.navBarItems{
    display:flex;
    flex-wrap: nowrap;
}

#logo{
    margin: -5px;
    margin-left: -10px;
    height:40px;
}

#fakeButton{
    cursor:pointer;
}

.rightNav{
    display: flex;

    padding-right:8%;
    font-family: 'voguing';
    margin-top: 3px;
    text-decoration: none;

    font-size:20px;
    color:#2774AE;
    gap: 30px;
    
}

.rightNav link{
    text-decoration: none;
    color:#2774AE;
}


#nav-bar-avatar{
    cursor:pointer;
    margin-top:-10px;
}


#log-out{
    cursor:pointer;
    color:#5AB9EA;

}
.avatarContainer{
    margin-top:-8px;
}
#usernamedisplay{
    color:#5AB9EA;
    padding-right:10px;
    /* margin-top:-20px; */
    font-size: 15px;
}
.fakeNavContainer{
    margin-top:-10%;
}

.devicons{
    width: 10%;
}